*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
body{
     background-image: url(https://www.techsupportalert.com/files/images/techtreats/WPOTW-Library-Article.jpg);
     background-size: cover;
 } 
.rightside{
    padding:113px 57px !important; 
   background-color: rgb(154, 224, 224);
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
} 
 
img{
    
    border-bottom-left-radius: 27px;
    border-top-left-radius: 27px;
    
}
.btn1{
    margin:16px 1px;
    padding: 5px 103px;
    border-radius: 25px;
    box-shadow: 2px 4px 2px white;
    background-color: black;
    color: white;

}
 a:hover{
    text-decoration: none;
}
